%div.container
  %div
    %label Monday
    %input.start_time  to  
    %input.end_time
    %button.addbutton Add time
  %div
    %label Tuesday
    %input.start_time  to  
    %input.end_time
  %div
    %label Wednesday
    %input.start_time  to  
    %input.end_time
  %div
    %label Thursday
    %input.start_time  to  
    %input.end_time