%div
  
%div.calendar-wrapper
  %div#calendar
    %div#modal.modal.fade{:hidden=>true}
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button.close{"data-dismiss" => "modal", "aria-hidden" => true} &times;
            %h4.modal-title Input Event
          %div.modal-body
            = render "form"
:javascript

      // defined instance of the dialog
      // $( "#dialog" ).dialog( { 
      //     autoOpen: false, 
      //     title: "Input Holiday"
      //     });
      // user click, then dialog popup
      $('#calendar').fullCalendar({
          header: {
            right: "prev,next, today",
            center: "title",
            left: "month,agendaWeek,agendaDay"
          },
          selectable: true,
          editable: true,
          events: {
            url: 'https://www.google.com/calendar/feeds/en.cambodian%23holiday%40group.v.calendar.google.com/public/basic'
          },
          eventSources: [{
            url: "/full_calendar",
          }],
          dayClick: function() {
            $('#modal').modal({
            });
          },
          height: 600,
      });